@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



:root{
  --warfirst:#F05454;
  --warsecond:#30475E;
  --wartrid:#222831;
  --warfourt:#DDDDDD;
}

*{
  padding: 0;
  margin: 0;
}

/* container soswmed dan jam */
.container-sosmet{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10%;
}
.wrapper-sosmet a{
  color: black;
}
.wrapper-sosmet i{
  padding: 5px;
  border: 2px solid black;
  border-radius: 50%;
}
.container-waktu{
  display: flex;
  padding: 10px 5px;
  background-color: var(--wartrid);
  border-radius: 25px;
  color: white;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}
.container-waktu #jam,#keterangan{
  margin: 0 10px;
}
.container-waktu #keterangan{
  display: flex;
  align-items: center;
}
#jam h1{
  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
#keterangan h1{
  font-family: 'Secular One', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
/* container navbar */
.container-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: var(--warfourt);
}
.container-navbar h2{
  font-size: 20px;
  color: var(--warfirst);
  font-family: 'Secular One', sans-serif;
  text-shadow: 2px 2px 2px #222831 ;
}
nav a{
  margin: 0 10px;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Signika', sans-serif;
  font-weight:400;
}

/* container page informasi */
.page{
  position: absolute;
  width: 50%;
  margin: 20px 0 30px 0;
  padding: 15px 30px 15px 15%;  
  background-color: var(--warsecond);
  border-radius: 0 100px 100px 0;
  border-bottom: 2px solid #F05454;
  border-right: 2px solid #F05454;
  box-shadow: 0 5px 10px 2px rgba(247, 48, 48, 0.705);
} 
.page h1{
  font-size: 25px;
  color: var(--warfourt);
  font-family: 'Signika', sans-serif;
  font-weight: bold;
}


/*  */
/* Halaman Index */
/*  */

.container-cover{
  height: 90vh;
  display: flex;
  background-image: url("../img/BackgroundPutih.jpg");
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%  10% 10%;
  border-radius: 0 0 10px 10px;
}
.container-cover .cover img{
  width: 120%;
}
.container-cover .kalimat{
  width: 400px;
}
.container-cover .kalimat h1{
  font-size: 90px;
  font-family: 'Secular One', sans-serif;
  color: var(--wartrid);
  text-shadow: 3px 3px 2px #F05454 ;
}

/* main main */

#main-Index{
  display: flex;
  justify-content: center;
}
/* kegiatan main */
.container-kegiatan{
  background-color: var(--wartrid);
  box-shadow: 0 4px 7px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px;
  position:absolute;
  width: 900px;
  transform: translate(0,-50%);
}

.icon-kegiatan{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-kegiatan i{
  padding: 30px;
  color: var(--warfourt);
  border: 3px solid white;
  border-radius: 50%;
}
.item-kegiatan h1{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: var(--warfourt);
  font-family: 'Manjari', sans-serif;
}

/* Ulasan masjid */

.container-Ulasan{
  height: 100%;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 30px;
  background-color: var(--warfourt);
}
.container-Ulasan h1{
  text-align: center;
  font-size: 40px;
  font-family: 'Manjari', sans-serif;
  font-weight: 500px;
}
.wrapper-ulasan{
  display: flex;
  justify-content: center;
}
.item-ulasan{
  background-color: var(--warsecond);
  width: 30%;
  margin: 0 10px;
  padding: 15px;
  text-align: center;
  color: white;
  border-radius: 15px;
  border: 4px solid #F05454;
}

.item-ulasan p{
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/* footer */

.data-Footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #EFF5F5;
  padding: 30px 0 ;
}
.footer-masjid img{
  width: 100px;
}
.container-alamat{
  width: 300px;
}
form{
  display: flex;
  flex-direction: column;
}
#input-Name{
  width: 200px;
  border-radius: 5px;
  padding: 5px;
}
#input-Email{
  width: 250px;
  border-radius: 5px;
  padding: 5px;
}
#input-message{
  width: 300px;
  height: 100px;
  border-radius: 5px;
}
#btn-submit{
  width: 100px;
  padding: 5px;
  margin-top: 10px;
}
#copyright{
  border-top: 1px solid black;
  text-align: center;
  background-color:#EFF5F5;
  padding: 5px 0;
  color: black;
}

/*  */
/* Halaman Tentang Kami */
/*  */

/* Slide */
.mySlides {display: none;}
img {vertical-align: middle;
}
.container-slide{
  display: flex;
  justify-content: center;
  padding: 120px 0 30px;
  background-image: url("../img/Background.png");
  background-size: cover;
}
.wrapper-Slide{
  width: 650px;
  height: 500px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.container-dot{
  text-align: center;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* container article */
.container-article{
  padding-top: 60px;
  background-color: var(--warsecond);
}
.wrapper-masjid{
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.container-sejarah{
  display: flex;
  align-items: flex-start;
}
.container-article h1{
  width: 300px;
  padding: 10px;
  text-align: center;
  color: var(--warsecond);
  background-color: var(--warfourt);
  border-radius: 20px;
  box-shadow: 0 2px 4px 1px #EFF5F5;
}
.wrapper-sejarah{
  margin: 0 35px 0 20px;
  padding-bottom: 70px;
  text-align: justify;
}
.wrapper-sejarah p{
  text-indent: 5em;
  color:var(--warfourt);
  font-family: 'Roboto', sans-serif;
}
/* container-video */
.container-video{
  padding: 0 30px 30px;
}
.container-video iframe{
  width: 600px;
  height: 500px;
  border-radius: 10px;
}

/*  */
/* Halaman Jadwal Sholat */
/*  */

.container-jadwal{
  padding: 120px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/BackgroundJadwal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-jadwal h1{
  margin: 20px 0;
  font-size: 40px;
  font-family: 'Secular One', sans-serif;
}
table, th,td{
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
th{
  background-color: var(--warsecond);
  color: var(--warfourt);
}
td{
  font-size: 18px;
  font-weight: bold;
  background-color: var(--warfourt);
  color: var(--warsecond);
}